// Media query
$page-min-width: 488px;
$page-max-width: 1920px;

//mobile
$mobile-min-width: $page-min-width;


//desktop
$desktop-max-width:  1196px;

$tablet-min-width: 768px; //or 1000px
//$tablet-max-width: ($tablet-min-width - 1)
$desktop-min-width: 768px;