@import "adaptivHelper"
*
  margin: 0
  padding: 0
  outline: none
  border: none
  box-sizing: border-box
  font-family: "Sora", sans-serif

body
  background-color: black

.container
  max-width: 1192px
  display: flex
  margin: 0 auto
  flex-direction: column
  height: 100vh

.header
  width: 100%
  margin: 40px auto
  height: 38px
  display: flex
  align-items: center
  justify-content: space-between
  @media screen and (max-width: $desktop-max-width)
    //width: 900px
    width: 90%
    margin: 40px auto
  @media screen and (max-width: $tablet-min-width)
    margin: 20px auto
    width: 500px
  @media screen and (max-width: $mobile-max-width)
    margin: 20px auto
    width: 300px


  &-burger-menu
    display: none
    position: fixed
    justify-content: center
    z-index: 3
    padding-top: 20px
    height: 100vh
    width: 100%
    background-color: white
    &-nav
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center
      height: 100%

      &__href
        color: black
        text-decoration: none
        font-family: 'Sora', sans-serif
        line-height: 30px

      &__href:hover
        color: red
        cursor: pointer

    &__svg-show
      display: none
      width: 25px
      height: 25px
      margin-left: 5px
      @media screen and (max-width: $tablet-min-width)
        display: flex
        cursor: pointer

    &__svg-close
      cursor: pointer

  &-back
    display: none
    color: white
    background-color: #FF0000
    cursor: pointer
    width: 200px
    align-items: center
    justify-content: center
    margin-top: 10px
    height: 39px
    border-radius: 10px

  &-logo
    margin-right: 10px

  &-cart
    //margin-left: 25px
    cursor: pointer
    display: flex

    &__count
      margin-left: 3px
      border-radius: 90%
      width: 20px
      height: 20px
      background-color: green
      color: #fff
      text-align: center

  &-left
    display: flex
    align-items: center

  &-nav
    display: flex
    width: auto
    //margin-left: 105px
    //margin-right: 105px
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 100%
    @media screen and (max-width: $tablet-min-width)
      display: none

    &__href
      color: #fff
      margin-left: 5px
      margin-right: 5px
      text-decoration: none
      font-family: 'Sora', sans-serif
      line-height: 30px

    &__href:hover
      color: red

  &-search
    display: flex
    align-items: center
    position: relative

    &__input
      background-color: transparent
      padding-left: 10px
      width: 224px
      border: 2px solid #FFFFFF
      border-radius: 25px
      height: 38px
      color: #fff
      @media screen and (max-width: $tablet-min-width)
        width: 124px

    &__svg

      position: absolute
      right: 10px


  &-right

    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

  &-button
    color: #fff
    cursor: pointer
    font-size: 18px
    line-height: 23px
    margin-left: 40px
    height: 38px
    text-transform: uppercase
    font-family: 'Sora', sans-serif
    border-radius: 38px
    width: 135px
    background-color: red
    @media screen and (max-width: $tablet-min-width)
      display: none

  &-button:hover
    color: black

.main
  color: white

  &-container
    display: flex
    margin: 144px auto 0
    z-index: 1
    @media screen and (max-width: $desktop-max-width)
      flex-direction: column
      align-items: center
    @media screen and (max-width: $page-min-width)
      margin: 20px

.imgZ
  width: 325px
  height: 200px

.product
  padding-left: 45px
  width: 466px
  height: 710px
  background: #FFFFFF
  border-radius: 10px
  @media screen and (max-width: $page-min-width)
    width: 300px

  &-img
    display: flex
    justify-content: center
    align-items: center
    background-color: black
    border-radius: 90%
    height: 710px
    border: 5px solid #FFFFFF
    width: 710px
    margin-right: 20px
    @media screen and (max-width: $desktop-max-width)
      margin-bottom: 20px
      margin-right: 0
    @media screen and (max-width: $tablet-min-width)
      height: 431px
      width: 431px
    @media screen and (max-width: $page-min-width)
      height: 350px
      width: 350px

    &__container
      display: flex
      justify-content: center
      align-items: center
      width: 467px
      height: 467px
      background-color: #fff
      border-radius: 50%
      @media screen and (max-width: $tablet-min-width)
        height: 300px
        width: 300px

  &-name
    color: black
    font-size: 30px
    margin: 30px 0 30px 0

  &-description
    color: black
    width: auto
    height: 65px

    &__text
      color: black

  &-country
    display: flex

  &-add
    cursor: pointer
    background-color: green
    width: 264px
    height: 39px
    border-radius: 10px
    color: #FFFFFF
    text-align: center
    margin-left: 56px
    margin-top: 50px
    @media screen and (max-width: $page-min-width)
      margin-left: -30px

  &-add:hover
    color: black
    background-color: #003900

.btn
  &-plus
    cursor: pointer
    width: 45px
    height: 45px
    background: #F2F4F6
    border: 1px solid #EBEBEC
    border-radius: 0 7px 7px 0

  &-minus
    cursor: pointer
    width: 45px
    height: 45px
    background: #F2F4F6
    border: 1px solid #EBEBEC
    border-radius: 7px 0 0 7px

.counter
  display: flex
  justify-content: center
  align-items: center
  width: 45px
  border-top: 1px solid #EBEBEC
  border-bottom: 1px solid #EBEBEC
  height: 45px

.container-count
  display: flex

.one-line
  margin-bottom: 10px
  display: flex

.b-popup
  display: none
  width: 100%
  min-height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  overflow: hidden
  position: fixed
  top: 0

.loader
  z-index: 10
  display: none
  align-items: center
  width: 100%
  min-height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  overflow: hidden
  position: fixed
  top: 0

  &-img
    color: #FFFFFF
    height: 300px
    width: 300px
    margin: 0 auto

.b-popup .b-popup-content
  display: flex
  margin: 40px auto 0 auto
  width: 1000px
  height: auto
  padding: 10px
  background-color: #c5c5c5
  border-radius: 5px
  box-shadow: 0 0 10px #000

.popup-container
  display: flex
  flex-direction: column

  &__top
    width: 900px
    display: flex
    justify-content: space-between
    padding-bottom: 5px
    border-bottom: 2px solid black

  &__product
    width: 900px
    display: flex
    justify-content: space-between

.cart
  &-id
    height: 100%

  &-name
    height: 100%

  &-count
    height: 100%

  &-price
    height: 100%

.btn-popUp
  cursor: pointer
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  width: 25px
  height: 25px
  background-color: red
  transform: translateX(950px)
  border-radius: 50%
  font-weight: bold
