/* Error: Undefined variable.
 *    ,
 * 16 |   background-color: $blackS
 *    |                     ^^^^^^^
 *    '
 *   ..\..\..\1. основы html. структура, теги, семантика\store\css\store.sass 16:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 16 \2502    background-color: $blackS\d\a    \2502                      ^^^^^^^\a    \2575 \a   ..\\..\\..\\1. \43e \441 \43d \43e \432 \44b  html. \441 \442 \440 \443 \43a \442 \443 \440 \430 , \442 \435 \433 \438 , \441 \435 \43c \430 \43d \442 \438 \43a \430 \\store\\css\\store.sass 16:21  root stylesheet";
}
